<div class="row">
  <div class="col-md-10">
    <nb-card>
      <nb-card-header>Create Blog</nb-card-header>
      <nb-card-body class="pr-3 pr-5">
        <form
          #addBlogForm="ngForm"
          novalidate
          (ngSubmit)="uploadImageFirst(blogInfo)"
        >
          <div class="form-group row">
            <label for="title" class="label col-sm-3 col-form-label"
              >Title</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                required
                name="title"
                [(ngModel)]="blogInfo.title"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="categoryRef" class="label col-sm-3 col-form-label"
              >Choose Categories</label
            >
            <div class="col-sm-9">
              <ng-select
                [items]="categories"
                name="categoryRef"
                [multiple]="true"
                [closeOnSelect]="true"
                [searchable]="true"
                bindLabel="name"
                bindValue="_id"
                [hideSelected]="true"
                placeholder="Select Category"
                [(ngModel)]="blogInfo.categoryRef"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="shortDes" class="label col-sm-3 col-form-label"
              >Short Description</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                [required]="true"
                name="shortDes"
                [(ngModel)]="blogInfo.shortDes"
              ></ckeditor>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesFirst" class="label col-sm-3 col-form-label"
              >Start Content</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                [required]="true"
                name="longDesFirst"
                [(ngModel)]="blogInfo.longDesFirst"
              ></ckeditor>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle1" class="label col-sm-3 col-form-label"
              >Middle Description 1</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle1"
                [(ngModel)]="blogInfo.longDesMiddle1"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage1" class="marginAuto" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 1</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 1)"
                [(ngModel)]="imgModel1"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel1 }}</label
              >
            </div>
          </div>
          <image-cropper
            *ngIf="imgModel1"
            [imageChangedEvent]="imageChangedEvent1"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 1)"
          >
          </image-cropper>
          <br />
          <div class="form-group row">
            <label for="amazonLink1" class="label col-sm-3 col-form-label"
              >Tracking Link 1</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink1"
                [(ngModel)]="blogInfo.amazonLink1"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros1" class="label col-sm-3 col-form-label"
              >Pros 1</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros1"
                name="pros1"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons1" class="label col-sm-3 col-form-label"
              >Cons 1</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons1"
                name="cons1"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle2" class="label col-sm-3 col-form-label"
              >Middle Description 2</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle2"
                [(ngModel)]="blogInfo.longDesMiddle2"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage2" class="marginAuto" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 2</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 2)"
                [(ngModel)]="imgModel2"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel2 }}</label
              >
            </div>
          </div>
          <image-cropper
            *ngIf="imgModel2"
            [imageChangedEvent]="imageChangedEvent2"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 2)"
          >
          </image-cropper>
          <br />
          <div class="form-group row">
            <label for="amazonLink2" class="label col-sm-3 col-form-label"
              >Tracking Link 2</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink2"
                [(ngModel)]="blogInfo.amazonLink2"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros2" class="label col-sm-3 col-form-label"
              >Pros 2</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros2"
                name="pros2"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons2" class="label col-sm-3 col-form-label"
              >Cons 2</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons2"
                name="cons2"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle3" class="label col-sm-3 col-form-label"
              >Middle Description 3</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle3"
                [(ngModel)]="blogInfo.longDesMiddle3"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage3" class="marginAuto" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 3</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 3)"
                [(ngModel)]="imgModel3"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel3 }}</label
              >
            </div>
          </div>
          <image-cropper
            *ngIf="imgModel3"
            [imageChangedEvent]="imageChangedEvent3"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 3)"
          >
          </image-cropper>
          <br />
          <div class="form-group row">
            <label for="amazonLink3" class="label col-sm-3 col-form-label"
              >Tracking Link 3</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink3"
                [(ngModel)]="blogInfo.amazonLink3"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros3" class="label col-sm-3 col-form-label"
              >Pros 3</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros3"
                name="pros3"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons3" class="label col-sm-3 col-form-label"
              >Cons 3</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons3"
                name="cons3"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle4" class="label col-sm-3 col-form-label"
              >Middle Description 4</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle4"
                [(ngModel)]="blogInfo.longDesMiddle4"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage4" class="marginAuto" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 4</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 4)"
                [(ngModel)]="imgModel4"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel4 }}</label
              >
            </div>
          </div>
          <image-cropper
            *ngIf="imgModel4"
            [imageChangedEvent]="imageChangedEvent4"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 4)"
          >
          </image-cropper>
          <br />
          <div class="form-group row">
            <label for="amazonLink4" class="label col-sm-3 col-form-label"
              >Tracking Link 4</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink4"
                [(ngModel)]="blogInfo.amazonLink4"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros4" class="label col-sm-3 col-form-label"
              >Pros 4</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros4"
                name="pros4"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons4" class="label col-sm-3 col-form-label"
              >Cons 4</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons4"
                name="cons4"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle5" class="label col-sm-3 col-form-label"
              >Middle Description 5</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle5"
                [(ngModel)]="blogInfo.longDesMiddle5"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage5" class="marginAuto" />
            </div>
          </div>
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 5</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 5)"
                [(ngModel)]="imgModel5"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel5 }}</label
              >
            </div>
          </div>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent5"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 5)"
          >
          </image-cropper>
          <div class="form-group row">
            <label for="amazonLink5" class="label col-sm-3 col-form-label"
              >Tracking Link 5</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink5"
                [(ngModel)]="blogInfo.amazonLink5"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros5" class="label col-sm-3 col-form-label"
              >Pros 5</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros5"
                name="pros5"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons5" class="label col-sm-3 col-form-label"
              >Cons 5</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons5"
                name="cons5"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle6" class="label col-sm-3 col-form-label"
              >Middle Description 6</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle6"
                [(ngModel)]="blogInfo.longDesMiddle6"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage6" class="marginAuto" />
            </div>
          </div>
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 6</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 6)"
                [(ngModel)]="imgModel6"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel6 }}</label
              >
            </div>
          </div>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent6"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 6)"
          >
          </image-cropper>
          <div class="form-group row">
            <label for="amazonLink6" class="label col-sm-3 col-form-label"
              >Tracking Link 6</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink6"
                [(ngModel)]="blogInfo.amazonLink6"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros6" class="label col-sm-3 col-form-label"
              >Pros 6</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros6"
                name="pros6"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons6" class="label col-sm-3 col-form-label"
              >Cons 6</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons6"
                name="cons6"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle7" class="label col-sm-3 col-form-label"
              >Middle Description 7</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle7"
                [(ngModel)]="blogInfo.longDesMiddle7"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage7" class="marginAuto" />
            </div>
          </div>
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 7</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 7)"
                [(ngModel)]="imgModel7"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel7 }}</label
              >
            </div>
          </div>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent7"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 7)"
          >
          </image-cropper>
          <div class="form-group row">
            <label for="amazonLink7" class="label col-sm-3 col-form-label"
              >Tracking Link 7</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink7"
                [(ngModel)]="blogInfo.amazonLink7"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros7" class="label col-sm-3 col-form-label"
              >Pros 7</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros7"
                name="pros7"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons7" class="label col-sm-3 col-form-label"
              >Cons 7</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons7"
                name="cons7"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle8" class="label col-sm-3 col-form-label"
              >Middle Description 8</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle8"
                [(ngModel)]="blogInfo.longDesMiddle8"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage8" class="marginAuto" />
            </div>
          </div>
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 8</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 8)"
                [(ngModel)]="imgModel8"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel8 }}</label
              >
            </div>
          </div>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent8"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 8)"
          >
          </image-cropper>
          <div class="form-group row">
            <label for="amazonLink8" class="label col-sm-3 col-form-label"
              >Tracking Link 8</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink8"
                [(ngModel)]="blogInfo.amazonLink8"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros8" class="label col-sm-3 col-form-label"
              >Pros 8</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros8"
                name="pros8"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons8" class="label col-sm-3 col-form-label"
              >Cons 8</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons8"
                name="cons8"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle9" class="label col-sm-3 col-form-label"
              >Middle Description 9</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle9"
                [(ngModel)]="blogInfo.longDesMiddle9"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage9" class="marginAuto" />
            </div>
          </div>
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 9</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 9)"
                [(ngModel)]="imgModel9"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel9 }}</label
              >
            </div>
          </div>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent9"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 9)"
          >
          </image-cropper>
          <div class="form-group row">
            <label for="amazonLink9" class="label col-sm-3 col-form-label"
              >Tracking Link 9</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink9"
                [(ngModel)]="blogInfo.amazonLink9"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros9" class="label col-sm-3 col-form-label"
              >Pros 9</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros9"
                name="pros9"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons9" class="label col-sm-3 col-form-label"
              >Cons 9</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons9"
                name="cons9"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesMiddle10" class="label col-sm-3 col-form-label"
              >Middle Description 10</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesMiddle10"
                [(ngModel)]="blogInfo.longDesMiddle10"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage10" class="marginAuto" />
            </div>
          </div>
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Image for Section 10</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event, 10)"
                [(ngModel)]="imgModel10"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label"
                >{{ htmlContent }}{{ imgModel10 }}</label
              >
            </div>
          </div>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent10"
            [maintainAspectRatio]="false"
            [aspectRatio]="2 / 3"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event, 10)"
          >
          </image-cropper>
          <div class="form-group row">
            <label for="amazonLink10" class="label col-sm-3 col-form-label"
              >Tracking Link 10</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="amazonLink10"
                [(ngModel)]="blogInfo.amazonLink10"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="pros10" class="label col-sm-3 col-form-label"
              >Pros 10</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.pros10"
                name="pros10"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="cons10" class="label col-sm-3 col-form-label"
              >Cons 10</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [addTag]="true"
                [(ngModel)]="blogInfo.cons10"
                name="cons10"
                [items]="dummyArr"
              >
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="longDesLast" class="label col-sm-3 col-form-label"
              >End Content</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                name="longDesLast"
                [(ngModel)]="blogInfo.longDesLast"
              ></ckeditor>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 com-md-8 text-center">
              <img [src]="croppedImage" class="marginAuto" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label for="imge" class="label col-sm-3 col-form-label"
              >Main Image for Blog</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                name="imge"
                (change)="fileChangeEvent($event)"
                required
                [(ngModel)]="imgModel"
                class="custom-file-input"
                accept="image/x-png,image/jpeg"
              />
              <label class="custom-file-label" for="inputGroupFile01"
                >{{ htmlContent }}{{ imgModel }}</label
              >
            </div>
          </div>
          <image-cropper
            *ngIf="imgModel"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="2 / 1"
            outputType="file"
            format="jpeg"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event)"
          >
          </image-cropper>
          <br />
          <div class="form-group row">
            <label for="imgAlt" class="label col-sm-3 col-form-label"
              >Image Alt</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="imgAlt"
                required
                [(ngModel)]="blogInfo.imgAlt"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="buttonTxt" class="label col-sm-3 col-form-label"
              >Button Text</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="buttonTxt"
                placeholder="Add Text to be displayed on Button.."
                [(ngModel)]="blogInfo.buttonTxt"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="metaTitle" class="label col-sm-3 col-form-label"
              >Meta Title</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="metaTitle"
                required
                [(ngModel)]="blogInfo.metaTitle"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="metaDes" class="label col-sm-3 col-form-label"
              >Meta Description</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="metaDes"
                required
                [(ngModel)]="blogInfo.metaDes"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="metaKeywords" class="label col-sm-3 col-form-label"
              >Meta Keywords</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                name="metaKeywords"
                required
                [(ngModel)]="blogInfo.metaKeywords"
              />
            </div>
          </div>
          <div class="form-group row" *ngIf="stores">
            <label for="assignedStore" class="label col-sm-3 col-form-label"
              >Select Store</label
            >
            <div class="col-sm-9">
              <ng-select
                name="assignedStore"
                [closeOnSelect]="true"
                [searchable]="true"
                [hideSelected]="true"
                [(ngModel)]="blogInfo.storeId"
              >
                <ng-option
                  [value]="item.value._id"
                  *ngFor="let item of stores | keyvalue | sortStores"
                >
                  {{ item.value.name }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group row" *ngIf="stores">
            <label for="assignedStore" class="label col-sm-3 col-form-label"
              >Related Stores</label
            >
            <div class="col-sm-9">
              <ng-select
                [multiple]="true"
                [(ngModel)]="blogInfo.relatedStores"
                name="stores"
                [items]="stores"
                bindLabel="name"
                bindValue="storeURL"
              >
              </ng-select>
            </div>
          </div>

          <!-- <div class="form-group row">
            <label for="longDesMiddle2" class="label col-sm-3 col-form-label"
              >Middle Description 2</label
            >
            <div class="col-sm-9">
              <ckeditor
                [editor]="Editor"
                [config]="ckConfig"
                [required]="true"
                name="longDesMiddle1"
                [(ngModel)]="blogInfo.longDesMiddle2"
              ></ckeditor>
            </div>
          </div> -->

          <br />
          <div class="validation-checkboxes row justify-content-md-around">
            <nb-checkbox
              status="info"
              name="showVertically"
              [(ngModel)]="blogInfo.showVertically"
              >Show Vertically</nb-checkbox
            ><nb-checkbox
              status="warning"
              name="featuredForHome"
              [(ngModel)]="blogInfo.featuredForHome"
              >Featured for Home</nb-checkbox
            >
          </div>
          <br />
          <br />
          <div class="form-group row">
            <div class="offset-sm-1 col-sm-11">
              <button
                nbButton
                status="primary"
                size="medium"
                [nbSpinner]="isBusy"
                nbSpinnerStatus="primary"
                nbSpinnerSize="medium"
                [disabled]="!addBlogForm.form.valid || !blogInfo.categoryRef"
                type="submit"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
